# Rust
target/
**/*.rs.bk


# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/pnpm-lock.yaml
frontend/.pnpm-store/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
rili-tauri/target/
rili-tauri/icons/
rili-tauri/gen/

# Env
.env
.env.local

# github
.github

# Build artifacts
*.apk
*.zip

# Flutter/Dart
rili_flutter/.dart_tool/
rili_flutter/build/
rili_flutter/.flutter-plugins
rili_flutter/.flutter-plugins-dependencies
rili_flutter/android/local.properties
